<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Docteur</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/doctor_home.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
    <!-- <img class="image-gradient" src="{{ url_for('static', filename='images/gradient.png') }}">
    <div class="layer-blur"></div> -->

    <div class="container">
        <!-- HEADER -->
        <header>
            <h1 class="logo"><b>heart.ai</b></h1>

            <nav class="navbar_header">
                <a href="{{ url_for('doctor_home') }}"><i class="fas fa-home"></i> <b>ACCUEIL</b></a>
                <a href="{{ url_for('index2') }}"><i class="fas fa-stethoscope"></i> <b>PRÉDIRE</b></a>
                <a href="{{ url_for('results') }}"><i class="fas fa-file-medical-alt"></i> <b>RÉSULTAT</b></a>
                <a href="{{ url_for('contact_after_login') }}" class="btn-signing"><i class="fas fa-sign-out-alt"></i>
                    <b>CONTACTEZ-NOUS</b></a>
                <a href="{{ url_for('logout') }}" class="btn-signing"><i class="fas fa-sign-out-alt"></i> <b>SE
                        DÉCONNECTER</b></a>
            </nav>

        </header>
        <!-- MAIN CONTENT -->
        <main>
            <div class="content text-center">
                <h2 class="text-light">Bienvenue Dr. {{ user }}</h2>
                <p class="description">Utilisez notre outil intelligent pour prédire les risques de maladies
                    cardiaques chez vos patients.</p>
                <div class="buttons">
                    <a href="{{ url_for('index2')}}" class="btn-get-started">Commencer</a>
                </div>
            </div>
        </main>
        <spline-viewer class="robot-3d"
            url="https://prod.spline.design/9xw4BKdY6UIziGms/scene.splinecode"></spline-viewer>
    </div>
    <!-- <div class="content-image">
        <i class="fas fa-heartbeat big-icon"></i>
    </div> -->


    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.98/build/spline-viewer.js"></script>


    <footer class="footer">
        <div class="footer-content">
            <h1 class="logo">heart.ai</h1>
            <p class="email"><i class="fas fa-envelope"></i> contact@heart.ai</p>
            <p class="copyright">&copy; 2025 heart.ai — Tous droits réservés.</p>
        </div>
    </footer>

</body>

</html>